<!DOCTYPE html>
<html lang='en'>

<head>
	<style>
		@page {
			margin: 20px;
			/* Added 'px' unit */
		}

		* {
			box-sizing: border-box;
		}
		tr.no-page-break {
			page-break-inside: avoid;
		}
	</style>
</head>

<body style='font-family:Poppins,sans-serif;font-style:normal;margin:0; font-size: 12px;'>
	<div style="display: flex; flex-wrap: wrap;">
		<div style="flex: 100%;">
		   <div style="background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem; padding: 20px;">
			  <div style="display: flex; justify-content: space-between; align-items: center;">
				 <!-- <img src="https://themesbrand.com/skote/layouts/assets/images/logo-dark.png" alt="logo" style="height: 20px;"> -->
				 <h4 style="font-size: 1rem;">Bhavy Computer</h4>
				 <h4 style="font-size: 1rem;"><%= result.from_number %></h4>
			  </div>
			  <hr style="margin-top: 0; margin-bottom: 1rem; border-top-width: 2px;">
			  <div style="display: flex; flex-wrap: wrap; margin-bottom: 1.25rem;">
				 <div style="flex: 50%;">
					<address>
						<strong>From :</strong><br>
						<%= result.from_name %><br>
							GST Number : <%= result.from_gst_number %><br>
								PAN Number : "AXZPB7277N"<br>
								Email : <%= result.from_email %> <br>
									Address : <%= result.from_street_address_1 %> <br>
										<% if(result.from_street_address_2){ %>
											Address 2 : <%= result.from_street_address_2 %> <br>
												<% } %>
													<%= result.from_state %> - <%= result.from_zip_code %><br>
															<% if(result.from_phone){ %>
																Phone Number: <%= result.from_phone %> <br>
																	<% } %>
																		<% if(result.from_business_number){ %>
																			Business Number: <%=
																				result.from_business_number %>
																				<% } %>
					</address>
				 </div>
				 <div style="flex: 50%; text-align: right;">
					<address>
						<strong>To :</strong><br>
						<%= result.to_name %><br>
							GST Number : <%= result.to_gst_number %><br>
								Email : <%= result.to_email %> <br>
									Address : <%= result.to_street_address_1 %> <br>
										<% if(result.to_street_address_2){ %>
											Address 2 : <%= result.to_street_address_2 %> <br>
												<% } %>
													<%= result.to_state %> - <%= result.to_zip_code %> <br>
															<% if(result.to_phone){ %>
																Phone Number: <%= result.to_phone %> <br>
																	<% } %>
																		<% if(result.to_business_number){ %>
																			Business Number: <%=
																				result.to_business_number %>
																				<% } %>
					</address>
				 </div>
			  </div>
			  <div style="display: flex; flex-wrap: wrap;">
				 <div style="flex: 50%;">
					<address style="margin-top: 0.25rem;">
						<strong>Order Date:</strong><br>
						<%= result.from_date %><br><br>
					 </address>
				 </div>
				 <div style="flex: 50%; text-align: right;">
					<% if(result.from_terms != 'none'){  %>
					<address style="margin-top: 1.25rem;">
						<strong>Terms</strong><br>
						<%= result.from_terms %><br><br>
					 </address>
					 <% } %> 
				 </div>
			  </div>
			  <div style="margin-top: 0.25rem; margin-bottom: 0.25rem;">
				 <h3 style="font-size: 0.9375rem; font-weight: bold;">Order summary</h3>
			  </div>
			  <table style="width: 100%;margin-bottom: 0;color: #212529;border-collapse: collapse;border: 2px solid #dee2e6;">
				 <thead>
					<tr>
					   <th style="padding: 10px;border: 2px solid #dee2e6;text-align: left;">Description</th>
					   <th style="width: 100px;padding: 10px;border-bottom: 2px solid #dee2e6;text-align: right;">HSN Code</th>
					   <th style="width: 100px;padding: 10px;border: 2px solid #dee2e6;text-align: right;">Rate</th>
					   <th style="width: 100px;padding: 10px;border: 2px solid #dee2e6;text-align: right;">Quantity</th>
					   <th style="width: 150px;padding: 10px;border: 2px solid #dee2e6;text-align: right;">Amount</th>
					</tr>
				 </thead>
				 <tbody>
					<% var item=result.items; %>
										<% Object.keys(item).forEach(function(key){ var item_data=item[key]; var
											item_description=item_data.item_description; var
											item_hsnCode=item_data.item_hsnCode; var
											item_additional_details=item_data.item_additional_details; var
											item_rate=item_data.item_rate; var item_qty=item_data.item_qty; var
											item_amount=item_data.item_amount; var per_item_tax=item_data.per_item_tax; %>
					<tr>
					   <td style="padding:10px;border: 2px solid #dee2e6;"><%= item_description %></td>
					   <td style="padding:10px;border: 2px solid #dee2e6;text-align: right;"><%= item_hsnCode %></td>
					   <td style="padding:10px;border: 2px solid #dee2e6;text-align: right;">&#8377;<%= item_rate %></td>
					   <td style="padding:10px;border: 2px solid #dee2e6;text-align: right;"><%= item_qty %></td>
					   <td style="padding:10px;border: 2px solid #dee2e6;text-align: right;">&#8377;<%= item_amount %></td>
					</tr>
					<% }) %>
					<tr class="no-page-break">
					   <td colspan="4" style="padding:10px; text-align: right;">Sub Total</td>
					   <td style="padding:10px;text-align: right;">&#8377;<%= result.sub_total; %></td>
					</tr>
					<% if(result.tax_type != 'per item' && result.discount_type != "none"){ %>
					<tr>
						<% if(result.discount_type == "percent"){ %>
					   <td colspan="4" style="padding:10px; text-align: right;">Discount (<%= result.discount_rate %>%)</td>
					   <% } else { %>
						<td colspan="4" style="padding:10px; text-align: right;">Discount</td>
						<% } %>
					   <td style="padding:10px;text-align: right;">- &#8377;<%= result.total_discount; %></td>
					</tr>
					<% } %>
					
					<% if(result.cgst_tax != '0.00'){ %>
					<% if(result.tax_type == 'on total' || result.tax_type == 'deducted' || result.tax_type == 'per item'){ %>
						<tr>
							<% if (result.tax_type=="on total" ) { %>
								<td colspan="4" style="padding:10px; text-align: right;">+ CGST (<%= result.cgst_rate %>%)</td>
								<td style="padding:10px;text-align: right;">+ &#8377;<%= result.cgst_tax %></td>
							<% } else if(result.tax_type == "deducted"){ %>
								<td colspan="4" style="padding:10px; text-align: right;">- CGST (<%= result.cgst_rate %>%)</td>
								<td style="padding:10px;text-align: right;">- &#8377;<%= result.cgst_tax %></td>
							<% } %>
						</tr>
					 <% } %>
					 <% } %>
					 <% if(result.sgst_tax != '0.00'){ %>
						<% if(result.tax_type == 'on total' || result.tax_type == 'deducted' || result.tax_type == 'per item'){ %>
							<tr>
								<% if (result.tax_type=="on total" ) { %>
									<td colspan="4" style="padding:10px; text-align: right;">+ UGST/SGST (<%= result.sgst_rate %>%)</td>
									<td style="padding:10px;text-align: right;">+ &#8377;<%= result.sgst_tax %></td>
								<% } else if(result.tax_type == "deducted"){ %>
									<td colspan="4" style="padding:10px; text-align: right;">- UGST/SGST (<%= result.sgst_rate %>%)</td>
									<td style="padding:10px;text-align: right;">- &#8377;<%= result.sgst_tax %></td>
								<% } %>
							</tr>
						 <% } %>
						 <% } %>
	
					<tr style="border: 2px solid #dee2e6;">
						<td colspan="4" style="padding:10px; text-align: right;">
							<strong>Total</strong>
						</td>
						<td style="padding:10px; text-align: right;">
							<strong>&#8377;<%= result.total; %></strong>
						</td>
					</tr>
				 </tbody>
			  </table>
			  <div style="display: flex; flex-wrap: wrap;">
				<div style="flex: 50%;">
					<% if(result.invoice_note !="" ){ %>
						<address style="margin-top: 1.25rem;">
							<strong>Notes -</strong><br>
							<%= result.invoice_note; %><br><br>
						</address>
					<% } %>
				</div>
				<div style="flex: 50%; text-align: right;">
				</div>
			 </div>
			  <div style="display: flex; flex-wrap: wrap;">
				<div style="flex: 50%;">
						<address style="margin-top: 1.25rem;">
							<strong>Bank Detail</strong><br>
							<div style="margin-bottom: 5px;"><b><span>Account Number : 510101004681362</span></b></div>
							<div style="margin-bottom: 5px;"><b><span>Bank : UNION BANK</span></b></div>
							<div style="margin-bottom: 5px;"><b><span>Branch : VAPI</span></b></div>
							<div style="margin-bottom: 5px;"><b><span>IFSC CODE : UBIN0913243</span></b></div>
							<div style="margin-bottom: 5px;"><b><span>Payment Mode : CHEQUE, CARD, CASH, UPI</span></b>
							</div>
							<div style="margin-bottom: 5px;"><b><span>UPI Mobile Number : 9879542139</span></b></div>
						</address>
				</div>
				<div style="flex: 50%; text-align: right; margin-top: 65px;">
					<div style="margin-bottom: 60px;"><b><span>For, BHAVY COMPUTER</span></b></div>
					<div style="margin-bottom: 5px;"><b><span>Authorised Signatory</span></b></div>
				</div>
			 </div>
		   </div>
		</div>
	 </div>
</body>

</html>