<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Admin | Invoicing Software </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="<%-title%>" name="description" />
	<%- include('./partials/faviconLink') %>
	<%- include('./partials/admin/headerStyle') %>
	<%- HeaderCss%>
</head>
<body>
	<!-- ============================================================== -->
	<!-- START Content -->
	<!-- ============================================================== -->
	<%- body %>
	<!-- ============================================================== -->
	<!-- END Content -->
	<!-- ============================================================== -->
	<%- include('./partials/admin/footerScript') %>
	<%- FooterJs %>
</body>
</html>