<%- contentFor('HeaderCss') %>
  <%- contentFor('body') %>
    <!-- start bill content -->
    <main data-form="UB">
      <section class='thankyou_top position-relative d-flex align-items-stretch'>
        <div class="container">
          <div class="wrapper h-100 d-flex flex-column">
            <div class="thank_left d-flex align-items-center justify-content-center flex-column">
              <h2 class='font-weight-bold'>Thank You!</h2>
              <h6>Invoice Generated Successfully</h6>
            </div>
          </div>
        </div>
      </section>
      <section class="download">
        <div class="container d-flex justify-content-between align-items-center thankyou">
          <div class='invoice'>To Download Click Here</div>
          <div>
            <button type="button" class="btn" id="btn-download">Download</button>
          </div>
        </div>
      </section>
      <% if(progress_data !=null){%>
        <input type="hidden" id="pdf_path" value="<%= progress_data.pdf_path %>" />
        <input type="hidden" id="bill_type" value="<%= progress_data.form_name %>" />
      <%}%>
      <% if(order_data !=null){%>
        <input type="hidden" id="_id" value="<%= order_data._id %>" />
        <input type="hidden" id="payment_amount" value="<%= order_data.payment_amount %>" />
      <%}%>
    </main>
    <!-- end bill content -->
    <%- contentFor('FooterJs') %>
        <% if(env && env == true){ %>
          <script>
            $(function () {
              if($("#payment_amount").val() == undefined || $("#payment_amount").val() == ""){
                $("#payment_amount").val(0);
              }
              if($("#payment_amount").val() > 0){
                  window.dataLayer.push({ ecommerce: null });
                  window.dataLayer.push({
                      'ecommerce': {
                          'purchase': {
                              'actionField': {
                                'id': $("#_id").val(),
                                'revenue': $("#payment_amount").val()
                              },
                              'products': [{
                                'name': $("#bill_type").val(),
                                'id': $("#bill_type").val().replace(" ","_"),
                                'price': $("#payment_amount").val(),
                                'brand': 'OnlineBill',
                                'quantity': 1
                              }]
                          }
                      }
                  });

                  gtag('event', 'purchase', {
                      'transaction_id': $("#_id").val(),
                      'value': parseFloat($("#payment_amount").val()),
                      'currency': 'USD',
                      'shipping': 0,
                      'items': [
                        {
                          'id': $("#bill_type").val().replace(" ","_"),
                          'name': $("#bill_type").val(),
                          'brand': 'OnlineBill',
                          'category': 'Document',
                          'quantity': 1,
                          'price': $("#payment_amount").val()
                        }
                      ]
                  });
              }
            });
          </script>
        <% }%>
        <script>
          $(function () {
            localStorage.clear();

            $(document).on("click", "#btn-download", function () {
              var url = $("#pdf_path").val();
              var a = $("<a>")
                .attr("href", url)
                .attr("download", '')
                .appendTo("body");
              a[0].click();
              a.remove();
            })

            function browserBackButton() {
              window.onpopstate = function () {
                window.location = '/#make_bill';
              };
              window.history.pushState(null, "", window.location.href);
            }
            browserBackButton();

          })
        </script>